body{
    min-height: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Karla|Rubik&display=swap');

.fa-tree{
    color:#dc3545;
    margin-top: -5px
}
.logo-name{
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    line-height: 20px;  
    padding: 15px;
    
}

.welcome_heading{
font-family: 'Rubik', sans-serif;    
font-size: 18px;
font-weight: 400;
line-height: 18px;
text-transform: uppercase
}

.welcome_text{
    font-family: 'Rubik', sans-serif;    
    font-size: 32px;
    font-weight: 800;
    line-height: 36px;
  
    }
.search{
    margin-top: 20px;
}
    .search-input{
        width: 100%;
        font-size: 15px;
        line-height: 1.5;
        color: #55595c;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        height: 52px;
        border-radius:0;
    }    

    .search-button{
        width: 100%;
        font-size: 15px;
        line-height: 1.5;
        color: #fff;
        background-color:#dc3545;
        border: none;
        height: 52px;
        border-radius:0;
    }       


h4{
font-size: 1.8rem;
margin-top: 16px;
color: #000000;
}

.btn-link{
    margin-left: 15px;
    font-size: 1.6rem;
    
}

.delete-btn{
    display: inline;
    color: crimson;
    border: none;
    padding: 0;
}

.thumbnail{
    padding:0;
   
}

#map{
    width: 100%;
    height: 400px;
}

.profile-container{
    margin-top: 100px;
}

.jumbotron{
    background-image: url(http://i.imgur.com/emvhOnb.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    height: 430px;
}

.thumb-form-inline{
    display: inline;
}

.rating {
    overflow: hidden;
    display: inline-block;
} 

.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0; 
}


.rating-star {
    cursor: pointer;
    position: relative;
    float:right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('/img/star.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background: url('/img/star-select.png');
    background-size: cover;
    background-repeat: no-repeat;
}  

.rating-star,
.rating:hover .rating-star  {
    cursor: pointer;
    position: relative;
    float:right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('/img/star.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-basic{
    margin-bottom: 0;
}

.checked {
    color: #dc3545
} 
